<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="postpc.musica"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="postpc.musica.CommunicationBinder"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/ApplicationStyle" >
        <service
            android:name="postpc.musica.MusicService"
            android:enabled="true" >
        </service>
        <service
            android:name="postpc.musica.Master_Get_Connection"
            android:enabled="true" >
        </service>
        <service
            android:name="postpc.musica.SoundPoolService"
            android:enabled="true" >
        </service>

        <activity
            android:name="postpc.musica.ChooseModeActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="nosensor" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="postpc.musica.WaitingActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_waiting"
            android:screenOrientation="nosensor" >
        </activity>
        <activity
            android:name="postpc.musica.SearchActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_search"
            android:screenOrientation="nosensor" >
        </activity>
        <activity
            android:name="postpc.musica.MasterPlayActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_master"
            android:screenOrientation="nosensor" >
        </activity>
        <activity
            android:name="postpc.musica.SlavePlayActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_slave_play"
            android:screenOrientation="nosensor" >
        </activity>
        <activity
            android:name="postpc.musica.ParentActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_parent"
            android:screenOrientation="nosensor" >
        </activity>
        <activity
            android:name="postpc.musica.ConnectSpeakerActivity"
            android:label="@string/title_activity_connect_speaker" >
        </activity>
        <activity
            android:name="postpc.musica.ConnectBroadcasterActivity"
            android:label="@string/title_activity_broadcaster" >
        </activity>
    </application>

</manifest>
